<% content_for :content do %>
<div class="container-fluid">
   <!-- BEGIN PAGE HEADER-->   

   <div class="row-fluid">
      <div class="span12">
  
         <h3 class="page-title">
            Pages Management Table
         </h3>
         <ul class="breadcrumb">
            <li>
               <i class="icon-home"></i>
               <a href="/admin">Dashboard</a> 
               <span class="icon-angle-right"></span>
            </li>
            <li>
               <a href="/admin/pages">Pages</a>
               <span class="icon-angle-right"></span>
            </li>
            <li><a href="#">Edit Page</a></li>
         </ul>
      </div>
   </div>
   <!-- END PAGE HEADER-->
   <!-- BEGIN PAGE CONTENT-->
   <div class="row-fluid">
      <div class="span12">
         <!-- BEGIN SAMPLE FORM PORTLET-->   
         <div class="portlet box blue">
            <div class="portlet-title">
               <h4><i class="icon-reorder"></i> Edit Page Form</h4>
            </div>
            <div class="portlet-body form">
               <!-- BEGIN FORM-->
				 <%= display_validation_errors(@page) %>
				   <%= form_for(@page, :as => :page, :validate => true, :url => admin_page_path, :html => {:class => "form-horizontal"}) do |f| %>
                  
              
                  <div class="control-group">
                     <label class="control-label">Title</label>
                     <div class="controls">
						<%= f.text_field :title, :class => 'span6 m-wrap popovers', "data-trigger" => "hover", "data-content" => "Page Title", "data-original-title" => "Information"  %>  
                     </div>
                  </div>
                 
                  <div class="control-group">
                     <label class="control-label"><%=t :page_url %></label>
                     <div class="controls">
						<%= f.text_field :page_url, :class => 'span6 m-wrap popovers', "data-trigger" => "hover", "data-content" => "Page URL", "data-original-title" => "Information"  %>  
                     </div>
                  </div>
                  
                  <div class="control-group">
                     <label class="control-label">Short Content</label>
                     <div class="controls">
                           <%= f.text_area :short_content, :width => '100%', :class => "wysihtml5 m-wrap span9", :rows => "6" %>
                     </div>
                  </div>
                  
                  <div class="control-group">
                     <label class="control-label">Full Content</label>
                     <div class="controls">
                        <div class="input-icon left">
                           <i class="icon-envelope"></i>
                           <%= f.cktext_area :content, :width => '80%', :class => "m-wrap" %>
						</div>
                     </div>
                  </div>
                 
                  
                  <div class="control-group">
                      <label class="control-label">Banner</label>
                      <div class="controls">
                         <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                            	<% unless @page.image_file_name.nil? %>
                            		<%= image_tag @page.image.url(:thumb) %>
                            	<% else %>
                               		<img src="/assets/admin/no_profile_image.jpg" alt="" width="150px">
                               <% end %>
                            </div>
                            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 190px; max-height: 150px; line-height: 20px;"></div>
                            <div>
                               <span class="btn btn-file"><span class="fileupload-new">Browse Image</span>
                               <span class="fileupload-exists">Change</span>
                               <%= f.file_field :image, :class => 'default' %>
                               </span>
                               <a href="form_component.html#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                            </div>
                         </div>
                      </div>
                   </div>
                  
                  <div class="control-group">
                     <label class="control-label">Publish Date</label>
                     <div class="controls">
						
						 <div class="input-append date date-picker" data-date-format="yyyy-mm-dd" data-date-viewmode="years"> <%= f.text_field :publish_date, :class => 'datepicker m-wrap m-ctrl-medium'  %>
                         	<span class="add-on"><i class="icon-calendar"></i></span>
						 </div>
					</div>
                  </div>
                  
                  <div class="control-group">
                     <label class="control-label"><%=t :parent %></label>
                     <div class="controls">
						<% @parent = Page.order("title ASC") %>
					    <%= f.collection_select :page_id, @parent, :id, :title, {:include_blank => true}, {:class => 'select-1'} %>
                     </div>
                  </div>
                  
                  <div class="control-group">
                     <label class="control-label">Activate</label>
                     <div class="controls">
                        <div class="input-icon left">
                          
						   <%= f.check_box :activate  %>
                        </div>
                     </div>
                  </div>

                  
                   <div class="control-group">
                     <label class="control-label">Display Order</label>
                     <div class="controls">
						<%= f.text_field :display_order, :class => 'span6 m-wrap popovers', "data-trigger" => "hover", "data-content" => "Display Order", "data-original-title" => "Information"  %>  
                     </div>
                  </div>
                  
                   <div class="form-actions">
                     <button type="submit" class="btn blue"><%=t :submit %></button>
					 <a href="/admin/pages" class="btn"><%=t :cancel %></a>
                  </div>
				  <% end %>
               <!-- END FORM-->           
            </div>
         </div>
         <!-- END SAMPLE FORM PORTLET-->
      </div>
   </div>
</div>
<% end %>

<% content_for :page_level_styles do %>
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-fileupload/bootstrap-fileupload.css" />
<link rel="stylesheet" type="text/css" href="/plugins/gritter/css/jquery.gritter.css" />
<link rel="stylesheet" type="text/css" href="/plugins/chosen-bootstrap/chosen/chosen.css" />
<link rel="stylesheet" type="text/css" href="/plugins/select2/select2_metro.css" />
<link rel="stylesheet" type="text/css" href="/plugins/jquery-tags-input/jquery.tagsinput.css" />
<link rel="stylesheet" type="text/css" href="/plugins/clockface/css/clockface.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-daterangepicker/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datetimepicker/css/datetimepicker.css" />

<% end %>

<% content_for :page_level_plugins do %>
<script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>  
<script type="text/javascript" src="/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
<script type="text/javascript" src="/plugins/chosen-bootstrap/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
<script type="text/javascript" src="/plugins/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/plugins/clockface/js/clockface.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-daterangepicker/date.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-daterangepicker/daterangepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>  
<script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script type="text/javascript" src="/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>   
<script type="text/javascript" src="/plugins/jquery.input-ip-address-control-1.0.min.js"></script>

 
<%= javascript_include_tag "admin/scripts/form-components" %> 
<% end %>

<% content_for :page_level_scripts do %> 
<script>
   jQuery(document).ready(function() {       
      // initiate layout and plugins
      App.init();
      FormComponents.init();
      var img = document.getElementById('page_img');
		var input_hidden = document.getElementById('input_cover');
		var remove = document.getElementById('remove_btn');
		
		if(input_hidden.value.length <= 0){
			remove.style.visibility = 'hidden';
		}
		
		$('#remove_btn').click(function(){
			img.style.visibility = 'hidden';
			input_hidden.value = "";
		});
   });
</script>


<!-- <script type="text/javascript">
	$(document).ready(function(){
		var img = document.getElementById('page_img');
		var input_hidden = document.getElementById('input_cover');
		var remove = document.getElementById('remove_btn');
		
		if(input_hidden.value.length <= 0){
			remove.style.visibility = 'hidden';
		}
		
		$('#remove_btn').click(function(){
			img.style.visibility = 'hidden';
			input_hidden.value = "";
		});
		
	});
</script> -->


<% end %>