<% content_for :content do %>
<div id="portlet-config" class="modal hide">
	<div class="modal-header">
		<button data-dismiss="modal" class="close" type="button"></button>
		<h3>portlet Settings</h3>
	</div>
	<div class="modal-body">
		<p>Here will be a configuration form</p>
	</div>
</div>
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE CONTAINER-->			
<div class="container-fluid">
	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->			
			<h3 class="page-title">
				Page Management Table			
			</h3>
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="/admin">Dashboard</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li>
					<a href="/admin/pages">Pages</a>
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">List of all Pages</a></li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
	</div>
	<!-- END PAGE HEADER-->
	<!-- BEGIN PAGE CONTENT-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
			<% if flash[:success] %>
				<div class="div_flash_message alert alert-success">
	               <button class="close" data-dismiss="alert"></button>
	               <strong>Success!</strong> <%= flash[:success] %>
	            </div>
	        <% end %>
	        <% if flash[:error] %>
		        <div class="alert alert-error">
	               <button class="close" data-dismiss="alert"></button>
	               <strong>Error!</strong> <%= flash[:error] %>
	            </div>
	        <% end %>
			<div class="portlet box blue">
				<div class="portlet-title">
					<div class="caption"><i class="icon-reorder"></i> Pages Table</div>
					<div class="tools">
						<a href="javascript:;" class="reload"></a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="clearfix">
						<div class="btn-group">
							<%= link_to(new_admin_page_path, {:class => "btn green"}) do %>
								Add New <i class="icon-plus"></i>
							<% end %>
						</div>
					</div>
					<table class="datatable table table-striped table-hover table-bordered">
						<thead>
							<tr>
								<th>Title</th>
								<th>Page URL</th>
								<th>Created At</th>
								<th>Last Updated By</th>
								<th>Is Published?</th>								
							</tr>
						</thead>
						<tbody>
							<% for a in @page %>
							<tr class="">
								<td><%= a.title %></td>
								<td><%= a.page_url %></td>
								<td><%= a.created_at.strftime "%d-%m-%Y %H:%M:%S" %></td>
								<td><%= a.last_updated_by %></td>
								<td>
									<% if a.activate == true %>
										<img src="/assets/admin/icon_success.png" />
									<% else %>
										<img src="/assets/admin/icon_error.png" />
									<% end %>
								</td>
								<td><%= link_to "Edit", edit_admin_page_path(a), {:class => "edit"} %> </td>
								<td><%= link_to "Delete", admin_page_path(a), :confirm => "Are you sure?", :method => :delete, :title => "Delete" %></td>
							</tr>
							<% end %>
					   </tbody>
					</table>
				</div>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
		</div>
		</div>
		<!-- END PAGE CONTENT -->
	</div>
	<!-- END PAGE CONTAINER-->
</div>
<% end %>
<% content_for :page_level_styles do %>
<link rel="stylesheet" type="text/css" href="/plugins/select2/select2_metro.css" />
<link rel="stylesheet" href="/plugins/data-tables/DT_bootstrap.css" />
<% end %>

<% content_for :page_level_plugins do %>
<script type="text/javascript" src="/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/plugins/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/plugins/data-tables/DT_bootstrap.js"></script>

<%= javascript_include_tag "admin/scripts/table-managed" %> 
<% end %>

<% content_for :page_level_scripts do %> 
<script>
   jQuery(document).ready(function() {       
      // initiate layout and plugins
      App.init();
      TableManaged.init();
      
      setTimeout(function(){
	   $('.div_flash_message').fadeOut(800);
	  }, 5000)
      
   });
</script>

<% end %>
						
