<% content_for :content do %>
<div class="container-fluid">
   <!-- BEGIN PAGE HEADER-->   
   <div class="row-fluid">
      <div class="span12">
  
         <h3 class="page-title">
            <%=t :user_management_tables %>
         </h3>
         <ul class="breadcrumb">
            <li>
               <i class="icon-home"></i>
               <a href="/admin">Dashboard</a> 
               <span class="icon-angle-right"></span>
            </li>
            <li>
               <a href="/admin/users">Users</a>
               <span class="icon-angle-right"></span>
            </li>
            <li><a href="#">Edit User</a></li>
         </ul>
      </div>
   </div>
   <!-- END PAGE HEADER-->
   <!-- BEGIN PAGE CONTENT-->
   <div class="row-fluid">
      <div class="span12">
         <!-- BEGIN SAMPLE FORM PORTLET-->   
         <div class="portlet box blue">
            <div class="portlet-title">
               <div class="caption"><i class="icon-reorder"></i> Edit User Form</div>
               <div class="tools">
                  <a href="javascript:;" class="reload"></a>
               </div>
            </div>
            <div class="portlet-body form">
            	<%= display_validation_errors(@user) %>
               <!-- BEGIN FORM-->
                  <%= form_for(@user, :as => :user, :validate => true, :url => admin_user_path(@user), :html => {:class => "form-horizontal"}) do |f| %>
              
                  <div class="control-group">
                     <label class="control-label"><%=t :username %></label>
                     <div class="controls">
						<%= f.text_field :username, :class => 'span6 m-wrap popovers', "data-trigger" => "hover", "data-content" => "Admin Panel login username", "data-original-title" => "Information"  %>  
                     </div>
                  </div>
                 
                  <div class="control-group">
                     <label class="control-label"><%=t :email_address %></label>
                     <div class="controls">
                        <div class="input-icon left">
                           <i class="icon-envelope"></i>
						   <%= f.text_field :email, :class => "m-wrap", "placeholder" => "Email Address" %>
                        </div>
                     </div>
                  </div>
				  
                  <div class="control-group">
                     <label class="control-label"><%=t :password %></label>
                     <div class="controls">
						<%= f.password_field :password, :class => 'span6 m-wrap popovers', "data-trigger" => "hover", "data-content" => "Admin Panel login password", "data-original-title" => "Information"  %>  
                     </div>
                  </div>
				  
                  <div class="control-group">
                     <label class="control-label"><%=t :confirm_password %></label>
                     <div class="controls">
						<%= f.password_field :password_confirmation, :class => 'span6 m-wrap popovers', "data-trigger" => "hover", "data-content" => "Confirmation of Admin Panel login password", "data-original-title" => "Information"  %>  
                     </div>
                  </div>
                  
                  <div class="control-group">
                     <label class="control-label"><%=t :role %></label>
                     <div class="controls">
						<%= f.select(:role, {"" => "", "Admin" => 'Admin', "Editor" => 'Editor', "Viewer" => 'Viewer'}, {}, {:class => 'span6 m-wrap', "data-placeholder" => "Choose category", "tabindex" => "1"})%>
                     </div>
                  </div>
                  
				  <hr />
				  <!-- <div class="control-group">
                     <label class="control-label"><%=t :profile_picture %></label>
                     <div class="controls">
                        <div class="input-icon left">
                           <img src="/images/users/<%= @user.id %>/medium/<%= @user.image_file_name %>" width="150px">
						   <%= f.file_field :image, :class => 'fileupload customfile-input' %>
                        </div>
                     </div>
                  </div> -->
                   <div class="control-group">
                      <label class="control-label">Profile Picture</label>
                      <div class="controls">
                         <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                            	<% unless @user.image_file_name.nil? %>
                            		<img src="/images/users/<%= @user.id %>/medium/<%= @user.image_file_name %>" style="max-width: 200px; max-height: 150px; line-height: 20px;">
                            	<% else %>
                            		<img src="/assets/admin/no_profile_image.jpg" alt="" width="150px">
                            	<% end %>
                               
                            </div>
                            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                           	
                            <div>
                               <span class="btn btn-file"><span class="fileupload-new">Browse Image</span>
                               <span class="fileupload-exists">Change</span>
                               <!-- <input type="file" name="user[image]" class="default" /> -->
                               <%= f.file_field :image, :class => 'default' %>
                               </span>
                               <a href="form_component.html#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                            </div>
                         </div>
                         <span class="label label-important">NOTE!</span>
                         <span>
                         	Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only
                         </span>
                      </div>
                   </div>
                  
                  <div class="control-group">
                     <label class="control-label"><%=t :first_name %></label>
                     <div class="controls">
						<%= f.text_field :first_name, :class => 'span6 m-wrap popovers', "data-trigger" => "hover", "data-content" => "User First Name", "data-original-title" => "Information"  %>  
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label"><%=t :last_name %></label>
                     <div class="controls">
						<%= f.text_field :last_name, :class => 'span6 m-wrap popovers', "data-trigger" => "hover", "data-content" => "User Last Name", "data-original-title" => "Information"  %>  
                     </div>
                  </div>
				 <div class="control-group">
                     <label class="control-label"><%=t :birth_date %></label>
                     <div class="controls">
						
					 <div class="input-append date date-picker" data-date-format="yyyy-mm-dd" data-date-viewmode="years"> <%= f.text_field :birthdate, :class => 'datepicker m-wrap m-ctrl-medium'  %>
                         <span class="add-on"><i class="icon-calendar"></i></span>
					 </div>
				</div>
                     
                  </div>

                  <div class="control-group">
                     <label class="control-label"><%=t :phone %></label>
                     <div class="controls">
						<%= f.text_field :phone, :class => 'span6 m-wrap popovers', "data-trigger" => "hover", "data-content" => "User Phone Number", "data-original-title" => "Information"  %>  
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label"><%=t :address %></label>
                     <div class="controls">
						<%= f.text_field :address, :class => 'span6 m-wrap popovers', "data-trigger" => "hover", "data-content" => "User Address", "data-original-title" => "Information"  %>  
                     </div>
                  </div>
                  
                  <div class="form-actions">
                     <button type="submit" class="btn blue"><%=t :submit %></button>
					 <a href="/admin/users" class="btn"><%=t :cancel %></a>
                  </div>
				  <% end %>
               <!-- END FORM-->           
            </div>
         </div>
         <!-- END SAMPLE FORM PORTLET-->
      </div>
   </div>
</div>

<% end %>


<% content_for :page_level_styles do %>
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-fileupload/bootstrap-fileupload.css" />
<link rel="stylesheet" type="text/css" href="/plugins/gritter/css/jquery.gritter.css" />
<link rel="stylesheet" type="text/css" href="/plugins/chosen-bootstrap/chosen/chosen.css" />
<link rel="stylesheet" type="text/css" href="/plugins/select2/select2_metro.css" />
<link rel="stylesheet" type="text/css" href="/plugins/jquery-tags-input/jquery.tagsinput.css" />
<link rel="stylesheet" type="text/css" href="/plugins/clockface/css/clockface.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
<!-- <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" /> -->
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-daterangepicker/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datetimepicker/css/datetimepicker.css" />

<% end %>

<% content_for :page_level_plugins do %>
<script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>  
<script type="text/javascript" src="/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
<script type="text/javascript" src="/plugins/chosen-bootstrap/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
<script type="text/javascript" src="/plugins/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/plugins/clockface/js/clockface.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-daterangepicker/date.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-daterangepicker/daterangepicker.js"></script> 
<!-- <script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> -->  
<script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script type="text/javascript" src="/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>   
<script type="text/javascript" src="/plugins/jquery.input-ip-address-control-1.0.min.js"></script>

 
<%= javascript_include_tag "admin/scripts/form-components" %> 
<% end %>

<% content_for :page_level_scripts do %> 
<script>
   jQuery(document).ready(function() {       
      // initiate layout and plugins
      App.init();
      FormComponents.init();
   });
</script>
<% end %>